# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
*.egg

# Virtual envs
.venv/
venv/
env/

# Editors / OS
.idea/
.vscode/
.DS_Store
